# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Serverless Framework
.serverless/

# Misc
.DS_Store
.fleet
.idea
.docker/

# Local env files
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.*.log
*.lock.hcl